{% extends 'homepage/base.html' %}
{% load static %}

{% block head %}
    <title>About Us</title>
{% endblock %}

{% block body %}
<section id="about" style="padding: 35px 0;">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Về chúng tôi</h2>
            <p>Quản lý sản xuất nông nghiệp với sứ mệnh tiên phong trong việc phát triển nông nghiệp công nghệ, ứng dụng cuộc cách mạng công nghiệp 4.0. DNQ đã nghiên cứu phát triển thành công hệ thống quản lý trang trại.</p>
            <p>Các ứng dụng phần mềm cho đơn vị tham gia chuỗi sản xuất nông nghiệp: các hiệp hội, chủ trang trại, liên kết nhà vườn, công ty chế biến, sàn giao dịch để thực hiện tự động hoá những chức năng của nông nghiệp một cách chính xác, phân tích dự sản xuất, hỗ trợ ra quyết định ở mọi quy mô nhằm tăng năng suất, cải thiện hiệu quả đầu tư.</p>
            <p>Với mong muốn hỗ trợ người nông dân trong quản lý sản xuất nông nghiệp giúp giảm chi phí sản xuất tăng lợi nhuận, quản trị tốt các công việc và thực hiện truy xuất nguồn gốc nhanh chóng.</p>
        </div>
      </div>
    </div>
</section>
<section id="services" class="bg-light" style="padding: 45px 0;">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Sứ mệnh</h2>
          <p class="lead">Trở thành cầu nối tin cậy giữa các bên liên quan trong quan hệ trang trại và doanh nghiệp để kể câu chuyện về sản phẩm từ trang trại đến thị trường.</p>
        </div>
      </div>
    </div>
</section>
<section id="contact" style="padding: 45px 0;">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Tầm nhìn</h2>
        <p class="lead">Trở thành nhà cung cấp dịch vụ quản lý hệ thống trang trại hàng đầu, phục vụ các nhà phân phối thực phẩm ở Việt Nam đến năm 2030 với mạng lưới đối tác phát triển bền vững và rộng khắp.</p>
      </div>
    </div>
  </div>
</section>
<footer class="container">
  <p class="float-right"><a href="#">Lên đầu trang</a></p>
  <p>&copy; 2019-2020. All rights reserved.</p>
</footer>
{% endblock %}

