{% extends 'homepage/base.html' %}
{% load static %}

{% block head %}
    <title>About Us</title>
{% endblock %}

{% block body %}
<section id="about" style="padding: 35px 0;">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Thông tin liên hệ</h2>
            <ul>
                <li>Địa chỉ: Hutech</li>
                <li>SĐT: 0961032458</li>
                <li>Email: hoangnam921@gmail.com</li>
            </ul>

            <h4>Contact form...</h4>
            <div>
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSck3bTmj9zhCPC4X-N3M7toFswze7mYBWrTxgA1PhPcga_YFg/viewform?embedded=true" width="800" height="800" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            </div>
        </div>
      </div>
    </div>
</section>
<footer class="container">
  <p class="float-right"><a href="#">Lên đầu trang</a></p>
  <p>&copy; 2019-2020. All rights reserved.</p>
</footer>
{% endblock %}

