{% extends 'homepage/base.html' %}
{% load static %}

{% block head %}
<title>Đăng Nhập</title>
<link rel="stylesheet" type="text/css" href="{% static 'homepage/css/login_form.css' %}">
{% endblock %}

{% block body %}
<div class="container" style="width: 60% !important;">
    <div class="imgcontainer">
      <img src="{% static 'homepage/img/login.png' %}" alt="Avatar" class="avatar">
    </div>
    <div class="loginform">
        <form method="post">
            {% csrf_token %}
            <label><b>Tên đăng nhập</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>
            <label><b>Mật khẩu</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>
            <p style="text-align: center;"><button class="button_login" type="submit">Login</button></p>
        </form>
    </div>
</div>
{% endblock %}