{% extends 'homepage/base.html' %}

{% block head %}
<title>Thông tin cá nhân!</title>
{% endblock %}

{% block body %}
<div class="container">
    <h2>Thông tin cá nhân!</h2>
    <p>Tên đăng nhập: {{ user }}</p>
    <p>Tên: {{ user.first_name }}</p>
    <p>Họ: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Tên nông trại: {{ profile.farm_name }}</p>
    <button onclick="window.location.href = '{% url 'homepage:change_info' %}';" type="button" class="btn btn-info">Thay đổi thông tin</button>
    <button onclick="window.location.href = '{% url 'homepage:change_password' %}';" type="button" class="btn btn-info">Thay đổi mật khẩu</button>
</div>
{% endblock %}