{% extends 'base.html' %}

{% block head %}
<title>Register</title>
{% endblock %}

{% block body %}
<div class="jumbotron text-center">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead">Thank you for registering to <strong>Farm Manager</strong>. Please wait for admin approval!</p>
  <hr>
  <p>
    Having trouble? Please email us at <strong>hoangnam921@gmail.com</strong>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="/" role="button">Continue to homepage</a>
  </p>
</div>
{% endblock %}